build/header.html
<header class="header">
  <div class="header__wrapper">
    <div class="header__wrapper_container">
      <div class="burger">
        <span></span>
        <p class="burger-menu">
          Menu
        </p>
      </div>
      <a class="logo" href=""><img class="logo__src" src="img/05_logotype.svg" /></a>
      <div class="header__search header__search_mobile"></div>
      <div class="lang">
        <div class="lang__item">
          EN
        </div>
      </div>
    </div>
    <div class="header__wrapper_container">
      <nav class="nav">
        <div class="nav__container">
          <a class="nav__item" href="">Products</a>
          <div class="nav__container_menu--wrapper">
            <div class="nav__container_menu">
              <a class="nav__container_menu--item" href="">
                <div class="nav__container_menu--item-img">
                  <img src="img/01_book.svg" />
                </div>
                Solutions</a><a class="nav__container_menu--item" href="">
                <div class="nav__container_menu--item-img">
                  <img src="img/01_star.svg" />
                </div>
                Product Care</a><a class="nav__container_menu--item" href="">
                <div class="nav__container_menu--item-img nav__container_menu--item-img__star">
                  <img src="img/01_star.svg" />
                </div>
                Custom Design</a>
            </div>
          </div>
        </div>
        <div class="nav__container">
          <a class="nav__item" href="">Technology</a>
          <div class="nav__container_menu--wrapper">
            <div class="nav__container_menu">
              <a class="nav__container_menu--item" href=""><img class="nav__container_menu--item-img" src="img/" />QSorter Technology</a><a class="nav__container_menu--item" href=""><img class="nav__container_menu--item-img" src="img/" />QSorter Explorer</a><a class="nav__container_menu--item" href=""><img class="nav__container_menu--item-img" src="img/" />QSorter Horizon</a>
            </div>
          </div>
        </div>
        <div class="nav__container">
          <a class="nav__item" href="">Company</a>
          <div class="nav__container_menu--wrapper">
            <div class="nav__container_menu">
              <a class="nav__container_menu--item" href=""><img class="nav__container_menu--item-img" src="img/" />About Us</a><a class="nav__container_menu--item" href=""><img class="nav__container_menu--item-img" src="img/" />Team</a><a class="nav__container_menu--item" href=""><img class="nav__container_menu--item-img" src="img/" />Awards</a><a class="nav__container_menu--item" href=""><img class="nav__container_menu--item-img" src="img/" />Partners</a>
            </div>
          </div>
        </div>
        <div class="nav__container">
          <a class="nav__item" href="">Career</a>
          <div class="nav__container_menu--wrapper">
            <div class="nav__container_menu">
              <a class="nav__container_menu--item" href=""><img class="nav__container_menu--item-img" src="img/" />Why Work with us</a><a class="nav__container_menu--item" href=""><img class="nav__container_menu--item-img" src="img/" />Current Opportunities</a>
            </div>
          </div>
        </div>
        <div class="nav__container">
          <a class="nav__item" href="">News & Events</a>
          <div class="nav__container_menu--wrapper">
            <div class="nav__container_menu">
              <a class="nav__container_menu--item" href=""><img class="nav__container_menu--item-img" src="img/" />News               </a><a class="nav__container_menu--item" href=""><img class="nav__container_menu--item-img" src="img/" />Events               </a>
            </div>
          </div>
        </div>
        <div class="nav__container">
          <a class="nav__item" href="">Contacts</a>
        </div>
      </nav>
    </div>
    <div class="header__wrapper_container">
      <div class="header__search"></div>
    </div>
  </div>
  <div class="header__nav_mobile">
    <nav class="nav">
      <div class="nav__container">
        <p class="nav__item">
          Products
        </p>
        <div class="nav__container_mobile_menu--wrapper">
          <a class="nav__container_menu--item" href="">Solutions</a><a class="nav__container_menu--item" href="">Product Care</a><a class="nav__container_menu--item" href="">Custom Design</a>
        </div>
      </div>
      <div class="nav__container">
        <div class="nav__item">
          Technology
        </div>
        <div class="nav__container_mobile_menu--wrapper">
          <a class="nav__container_menu--item" href="">QSorter Technology</a><a class="nav__container_menu--item" href="">QSorter Explorer</a><a class="nav__container_menu--item" href="">QSorter Horizon</a>
        </div>
      </div>
      <div class="nav__container">
        <p class="nav__item">
          Company
        </p>
        <div class="nav__container_mobile_menu--wrapper">
          <a class="nav__container_menu--item" href="">About Us</a><a class="nav__container_menu--item" href="">Team</a><a class="nav__container_menu--item" href="">Awards</a><a class="nav__container_menu--item" href="">Partners</a>
        </div>
      </div>
      <div class="nav__container">
        <p class="nav__item">
          Career
        </p>
        <div class="nav__container_mobile_menu--wrapper">
          <a class="nav__container_menu--item" href="">Why Work with us</a><a class="nav__container_menu--item" href="">Current Opportunities</a>
        </div>
      </div>
      <div class="nav__container">
        <p class="nav__item">
          News & Events
        </p>
        <div class="nav__container_mobile_menu--wrapper">
          <a class="nav__container_menu--item" href="">News</a><a class="nav__container_menu--item" href="">Events</a>
        </div>
      </div>
      <div class="nav__container">
        <a class="nav__item" href="">Contacts</a>
      </div>
      <div class="lang">
        <div class="lang__item">
          EN
        </div>
      </div>
    </nav>
  </div>
</header>

assets/slim/partials/header.slim
header.header
  .header__wrapper
    .header__wrapper_container
      .burger
        span
        p.burger-menu
          |Menu
      a.logo href=""
        img.logo__src src="img/05_logotype.svg"
      .header__search.header__search_mobile
      .lang
        .lang__item
          |EN
      
    .header__wrapper_container
      nav.nav
        .nav__container
          a.nav__item href="" 
            |Products
          .nav__container_menu--wrapper
            .nav__container_menu
              a.nav__container_menu--item href=""
                .nav__container_menu--item-img
                  img src="img/01_book.svg"
                |Solutions
              a.nav__container_menu--item href=""
                .nav__container_menu--item-img 
                  img src="img/01_star.svg"
                |Product Care
              a.nav__container_menu--item href=""
                .nav__container_menu--item-img.nav__container_menu--item-img__star
                  img src="img/01_star.svg"
                |Custom Design
        .nav__container
          a.nav__item href="" 
            |Technology
          .nav__container_menu--wrapper
            .nav__container_menu
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |QSorter Technology
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |QSorter Explorer
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |QSorter Horizon
        .nav__container
          a.nav__item href="" 
            |Company
          .nav__container_menu--wrapper
            .nav__container_menu
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |About Us
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |Team
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |Awards
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |Partners
        .nav__container
          a.nav__item href="" 
            |Career
          .nav__container_menu--wrapper
            .nav__container_menu
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |Why Work with us
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |Current Opportunities
        .nav__container
          a.nav__item href="" 
            |News & Events
          .nav__container_menu--wrapper
            .nav__container_menu
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |News               
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |Events               
        .nav__container
          a.nav__item href=""
            |Contacts

    .header__wrapper_container
      .header__search

  .header__nav_mobile
    nav.nav
      .nav__container
        p.nav__item
          |Products
        .nav__container_mobile_menu--wrapper
          a.nav__container_menu--item href=""
            |Solutions
          a.nav__container_menu--item href=""
            |Product Care
          a.nav__container_menu--item href=""
            |Custom Design
      .nav__container
        .nav__item
          |Technology
        .nav__container_mobile_menu--wrapper
          a.nav__container_menu--item href=""
            |QSorter Technology
          a.nav__container_menu--item href=""
            |QSorter Explorer
          a.nav__container_menu--item href=""
            |QSorter Horizon
      .nav__container
        p.nav__item
          |Company
        .nav__container_mobile_menu--wrapper
          a.nav__container_menu--item href=""
            |About Us
          a.nav__container_menu--item href=""
            |Team
          a.nav__container_menu--item href=""
            |Awards
          a.nav__container_menu--item href=""
            |Partners
      .nav__container
        p.nav__item
          |Career
        .nav__container_mobile_menu--wrapper
          a.nav__container_menu--item href=""
            |Why Work with us
          a.nav__container_menu--item href=""
            |Current Opportunities
      .nav__container
        p.nav__item
          |News & Events
        .nav__container_mobile_menu--wrapper
          a.nav__container_menu--item href=""
            |News
          a.nav__container_menu--item href=""
            |Events
      .nav__container
        a.nav__item href=""
          |Contacts
      .lang
        .lang__item
          |EN
